@model IEnumerable<DomainLayer.ProductModel.Master.MasterTable>

@{
    ViewData["Title"] = "MasterList";
}


<table class="table table-bordered">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.masterData)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.masterData)
            </td>
            
            <td>
               <button class="btn btn-light mr-2">@Html.ActionLink("Edit", "Edit", new {  id=item.id  })</button>  
                <button class="btn btn-light">@Html.ActionLink("Delete", "Delete", new {  id=item.id  })</button> 
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="MasterData">Back </a>
</p>
