<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-brand ">
            MOBIZONE
        </div>
        <div class="navbar carousel-item-right">
            Admin
        </div>
    </nav>
</header>